*, *:before, *:after {
 box-sizing: border-box;
}

body {
background-color: white;
}
h1 {
  padding-left: 130px;
}
.preview {
  display: inline-block;
  height: 300px;
  width: 435px;
  margin-left: 3px;
  margin-bottom: 5px;
  background-size: cover;
}
.preview.baku {
  background-image: url('../images/baku.jpg');
}
.preview.london {
  background-image: url('../images/london.png');
}
.preview.madrid {
  background-image: url('../images/madrid.jpg');
}
.preview.rome {
  background-image: url('../images/rome.jpg');
}

.container {
  background-color: lightgray;
  font-size: 20px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 575px) {

    .preview {
    height: 250px;
    margin: 1%;
    width: 44%;
   }
}
@media screen and (min-width: 991px) {

   .preview {
    height: 150px;
    margin: 1%;
    width: 22%;
    }
    .preview {
    height: 150px;
    margin: 1%;
    width: 22%;
    }
}
